body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
  width: auto;
  padding: 0 0em 1em;
  background-image: linear-gradient(rgb(67, 67, 255), rgb(100, 210, 238), rgb(67, 67, 255));
}

main {
  background-color: white;
  border: 3px solid blue;
  padding: 0 1em 1em;
  margin: 3em;
}

h1 {
  color: black;
  width: auto;
  text-align: center;
  background-image: linear-gradient(to right, white, blue, white);
}

h2 {
  text-align: center;
}

#Search_bar{
  margin: 0 auto;
  width: 600px;
  border: 3px solid gray;
  background-color: whitesmoke;
}